<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>YuSang</display-name>
  <welcome-file-list>
    <welcome-file>Index.html</welcome-file>
  </welcome-file-list>
  <filter-mapping>
  <filter-name>Struts2</filter-name>
  <url-pattern>/*.x</url-pattern>
  </filter-mapping>
  <listener>
  <listener-class>com.ys.listener.Listener</listener-class>
  </listener>
  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>com.ys.filter.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>AjaxCheckNameAction</servlet-name>
    <servlet-class>com.ys.Ajax.AjaxCheckNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCheckNameAction</servlet-name>
    <url-pattern>/ajaxckname</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoRegAction</servlet-name>
    <servlet-class>com.ys.after.DoRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegAction</servlet-name>
    <url-pattern>/admin/doreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoLoginForUserAction</servlet-name>
    <servlet-class>com.ys.after.DoLoginForUserServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLoginForUserAction</servlet-name>
    <url-pattern>/doLoginForUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDoLoginAction</servlet-name>
    <servlet-class>com.ys.after.DoLoginServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDoLoginAction</servlet-name>
    <url-pattern>/admin/doLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitIndexAction</servlet-name>
    <servlet-class>com.ys.before.InitIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitIndexAction</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitFenlenAddAction</servlet-name>
    <servlet-class>com.ys.before.InitFenleiAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitFenlenAddAction</servlet-name>
    <url-pattern>/admin/InitFenlenAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitFenlenViewAction</servlet-name>
    <servlet-class>com.ys.before.InitFenleiViewSerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitFenlenViewAction</servlet-name>
    <url-pattern>/admin/initfenleiview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDoFenleiAddAction</servlet-name>
    <servlet-class>com.ys.after.DoFenleiAddServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDoFenleiAddAction</servlet-name>
    <url-pattern>/admin/doFenleiAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDoFenleiModifyAction</servlet-name>
    <servlet-class>com.ys.after.DoFenleiModifyServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDoFenleiModifyAction</servlet-name>
    <url-pattern>/admin/doFenleiModify</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminDoFenleiNoShowAction</servlet-name>
    <servlet-class>com.ys.after.DoFenleiNoShowServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDoFenleiNoShowAction</servlet-name>
    <url-pattern>/admin/doFenleiNoShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDoWenzhangAddAction</servlet-name>
    <servlet-class>com.ys.after.DoWenzhangAddServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDoWenzhangAddAction</servlet-name>
    <url-pattern>/admin/doWenzhangAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitArticleDetailsAction</servlet-name>
    <servlet-class>com.ys.before.InitArticleDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitArticleDetailsAction</servlet-name>
    <url-pattern>/articledetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjaxAddCommentAction</servlet-name>
    <servlet-class>com.ys.Ajax.AjaxAddCommentServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxAddCommentAction</servlet-name>
    <url-pattern>/addcomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjaxZanAction</servlet-name>
    <servlet-class>com.ys.Ajax.AjaxZanSeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxZanAction</servlet-name>
    <url-pattern>/zan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddAction</servlet-name>
    <servlet-class>com.ys.after.DoAdminAddServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddAction</servlet-name>
    <url-pattern>/admin/doAdminAdd</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AdminViewAction</servlet-name>
    <servlet-class>com.ys.before.InitAdminViewSeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewAction</servlet-name>
    <url-pattern>/admin/initAdminView</url-pattern>
  </servlet-mapping>
</web-app>